<h3> Add Cyclist to Database</h3>

<form action= "/add_cyclist">
  
  <p>First Name: <input type="name" name= "first_name" placeholder="Johnny"></p>
  
  <p>Last Name: <input type="name" name= "last_name" placeholder="Doe"></p>
  
  <p>Nickname (optional): <input type="name" name= "nickname" placeholder="JohnBikes"></p>

  <input type="submit" value="add cyclist">
  
</form>

<br><br>
<a href = "/home">Return To Main Menu</a>