<h3>Edit Cyclist Profile</h3>
  
<form action="/edit_cyclist/:x">   

  <p><h4>Update cyclist profile as necessary.</h4></p>

  <p>First Name: <input type="text" name="first_name"></p>
  <p>Last Name: <input type="text" name="last_name"></p>
  <p>Nickname: <input type="text" name="nickname"></p>

  <p><input type="submit" value="edit profile"></p>
</form>
<br><br>
<a href = "/home">Return To Main Menu</a>