<h3>Manage Cyclists Menu</h3>

<ul>
  <a href="/add_cyclist_form"><li>Add a cyclist</li></a>
  <a href="/edit_cyclist_form"><li>Edit a cyclist</li></a>
  <a href="/delete_cyclist"><li>Delete a cyclist</li></a>
  <a href="/view_cyclists"><li>View cyclists</li></a>
  <a href="/home"><li>Return to main</li></a>
</ul>

