html {
  box-sizing: border-box;
}

*, *:before, *:after {
box-sizing: inherit;

}

body {
  text-align: center;
  background-color: lavender;
  font-family: verdana, arial, sans-serif;
}

ul {
  list-style-type: none;
}
