<!DOCTYPE HTML>
<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="global.css">
  </head>

  <body>

    <p>Bike Commuter Database</p>
    <p>Welcome!</p>

    Please select a menu item:
    <ul>
      <a href="/cyclists"><li>Manage Cyclists</li></a>
      <a href="/bikes"><li>Manage Bikes</li></a>
      <a href="/rides"><li>Manage Rides</li></a>
    </ul>

  </body>
  
  <!-- Switch to global layout file -->

</html>
