<p>Bike Commuter Database</p>
<p>Welcome!</p>

Please select a menu item:
<ul>
  <a href="/cyclists"><li>Manage Cyclists</li></a>
  <a href="/bikes"><li>Manage Bikes</li></a>
  <a href="/rides"><li>Manage Rides</li></a>
</ul>