<h3>Calculate Route and Ride Data</h3>
  
<form action="https://maps.googleapis.com/maps/api/directions/json">   

  <p>Starting Point: <input type="text" name="origin" placeholder="Origin"></p>
  <p>Ending Point: <input type="text" name="destination" placeholder="Destination"></p>
  <p><input type="submit" value="calculate distance"></p>
  
  <input type="hidden" name="mode" value="bicycling">
  <input type="hidden" name="key" value="AIzaSyB3DLdYmSzi0BBgBZPiqKy_qQLFCBisLyw">
</form>

<br><br>
<a href = "/home">Return To Main Menu</a>


