<h3>Calculate Ride Data</h3>
  
<form action="http://maps.googleapis.com/maps/api/directions/json">   

  <p>Starting Point: <input type="text" name="origin" placeholder="Origin"></p>
  <p>Ending Point: <input type="text" name="destination" placeholder="Destination"></p>
  <p>Mode of Travel: <input type="radio" name="mode" value="bicycling" checked> Bicycle</p>
  <p><input type="submit" value="calculate distance"></p>
</form>

<br><br>
<a href = "/home">Return To Main Menu</a>


