<h3>Delete Ride</h3>

<!-- I may want to add a verification step here. Are you SURE you want to delete this ride? Maybe. -->

  <p><h4>Choose a ride to delete:</h4></p>
  <% Ride.all.each do |item| %>
    <ul>
      <li><a href="/delete_ride/<%= item.id %>"> First Name: <%= item.first_name %> / Last Name: <%= item.last_name %> / Nickname: <%= item.nickname %></a></li>
    </ul>
      <% end %>

<br><br>  
<p><a href = "/home">Return To Main Menu</a><p>