<p><h3>View Bikes</h3></p>

This maybe needs to be altered to show bikes belonging to a particular cyclist.


<!-- <TABLE BORDER="5">
  <TH>ID</TH>
  <TH>First Name</TH>
  <TH>Last Name</TH>
  <TH>Nickname</TH>

  <% Cyclist.all.each do |item| %>

    <TR>
      <TD><%= "#{item.id}" %>.</TD>
      <TD><%= "#{item.first_name}" %></TD>
      <TD><%= "#{item.last_name}" %></TD>
      <TD><%= "#{item.nickname}" %></TD>
    </TR>

  <% end %>

</TABLE>

<br><br>
<p><a href = "/home">Return To Main Menu</a></p> -->